/** @format */

.bandiera {
  width: 100vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.sfondo {
  width: 100%;
  height: 100%;
  background: url('https://i.postimg.cc/G9n1SPhZ/ezgif-com-video-to-gif-3.gif')
    center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sfondo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.53);
  z-index: 2;
}

.testo {
  text-align: center;
  font-family: 'Lovelo', sans-serif;
  margin-top: 350px;
  opacity: 0;
  transition: opacity 4s ease-in-out;
  position: relative;
  z-index: 3;
}

.testo.show-text {
  opacity: 1;
}

.testo h1 {
  color: white;
  font-size: 80px;
}

.testo h3 {
  color: #ffff66;
}

@media (max-width: 600px) {
  .testo h1 {
    font-size: 40px;
  }

  .testo h3 {
    font-size: 20px;
  }
}
.article-container {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: auto;
  max-width: 1500px;
}
.caption {
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 30px;
}

.caption-image {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.caption-image img {
  max-width: 100%;
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.caption-description {
  flex: 1;
  font-size: 24px;
  font-weight: bolder;
  color: white;
}
.caption h2 {
  font-family: 'Lovelo', sans-serif;
}
.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}
.timbro {
  color: white;
  flex-direction: column;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .caption-image img {
    height: 200px;
    object-fit: cover;
  }
  .caption-description {
    font-size: 12px;
  }
  .intro {
    font-size: 18px;
  }
}

.uno {
  animation: fadeIn 2s ease-in-out 0.7s forwards;
}

.due {
  animation: fadeIn 2s ease-in-out 1.2s forwards;
}

.tre {
  animation: fadeIn 2s ease-in-out 1.7s forwards;
}
.quattro {
  animation: fadeIn 2s ease-in-out 2.2s forwards;
}
.cinque {
  animation: fadeIn 2s ease-in-out 2.7s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
