/** @format */

.contenitore-carosello {
  height: 600px;
  overflow: hidden;
}

.contenitore-carosello {
  height: 100%;
}
.first-item {
  background-image: url('https://i.postimg.cc/Wb9MGQBb/ANTEPRIMA-4.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  height: 600px;
}
.second-item {
  background-image: url('https://i.postimg.cc/sDPNPC7j/IL-CAVALIERE-RIAVVOLTO.jpg');
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  height: 600px;
}
.third-item {
  background-image: url('https://i.postimg.cc/bYH4dfPp/ANTEPRIMA-LA-TRAGEDIA-DELL-OLANDESE-VOLANTE.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  height: 600px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.525);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 0;
}

.carosello:hover .overlay {
  opacity: 1;
}
.carosello {
  margin: auto;

  color: white;
  height: 100%;
}

.contenitore h2 {
  visibility: hidden;
  margin-top: 10px;
  font-family: 'Lovelo', sans-serif;

  transition: inset 0.3s 0.3s ease-out;

  font-weight: normal;
  text-transform: uppercase;
}
.contenitore p {
  visibility: hidden;
  margin: auto;
  opacity: 0;
  font-family: 'Roboto', sans-serif;
  transition: opacity 0.3s ease-out;

  font-size: 24px;
}

.carosello:hover h2 {
  visibility: visible;

  transition: inset 0.3s ease-out;
}
.carosello:hover p {
  visibility: visible;
  opacity: 1;

  transition: opacity 0.5s 0.1s ease-in;
}
.contenitore {
  position: relative;
  text-align: start;
  top: 60%;
  left: 10%;
  width: 700px;
}
.ancore-carosello {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1200px) {
  .contenitore-carosello,
  .carosello,
  .item {
    height: 300px;
  }
  .contenitore h2 {
    font-size: 18px;
  }
  .contenitore p {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .contenitore {
    padding: 20px;
    top: 30%;
    left: 0;
    width: 400px;
  }
}
