/** @format */

.text-center {
  background-color: #000000;
}

.end {
  background-color: rgba(0, 0, 0, 0.2);
}

section a {
  color: white;
  text-decoration: none;
}

section a:hover {
  color: #ffff66;
  text-shadow: 2px 2px 5px red;
}

h6 a:hover {
  color: #ffff66;
  text-shadow: 2px 2px 5px red;
}
